@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
}
.logo{
    /* border:solid 2px white; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Shantell Sans', cursive;
}

.menu{
    /* display: none; */
    /* opacity: 0; */
    visibility: hidden;
    transition: 1s;
    transform: translateY(-100vh);
}

.responsive_menu{
    background-color: #111827;
    visibility: visible;
    animation: menu_slide 1s;
    transform: translateY(0);
}
@keyframes menu_slide {
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0);
    }
}
.port_img{
    background-image: url(images/20221124_1451491.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: dance 3s ease-in-out infinite;
}
.map{
    animation: map_pin 10s infinite;
}

@keyframes map_pin {
    0%{
        transform: translate(0px , 0px);
    }
    
    50%{
        transform: translate(-5px, 10px);
    }
}
@keyframes dance {
    0%{
        transform: translate(0px , 0px);
    }
    
    50%{
        transform: translate(-5px, 10px);
    }
}
.link{
    display: none;
    
}
.sec:hover > .link{
    transition: 2s;
    
    display: block;
    
    animation: visit 0.5s;
}
@keyframes visit {
    0%{
        transform: translate(150px);
    }
    100%{
        transform: translate(0 );
    }
    
}

.okay:hover{
    cursor: pointer;
    transition: 0.5s;
}
.okay ::after{
    content: '';
    text-align: right;
    display: flex;
    align-items: center;
    font-size: large;
    position: absolute;
    color: white;
    left: 0;
    right: -40px;
    top: 0;
    bottom:0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 20px;
    background-color: white;
    transform: translateX(-280px);
    transition: 0.4s;
    z-index: -1;
    cursor: pointer;
}

.okay:hover ::after{
    /* z-index: 0; */
    transform: translateX(0px);
    /* display: none; */
}
.okay{
    z-index: 1;
}

.btn:hover{
    cursor: pointer;
    transition: 0.5s;
}

.nav-opt{
    position: relative;
    overflow: hidden;
}
.nav-opt::after{
    content: '';
    border-bottom: solid #fb923c 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-150px);
    transition: 0.5s;
}
.nav-opt:hover::after{
    transform: translateX(0px);
}


.okayed:hover{
    cursor: pointer;
    transition: 0.5s;
}
.okayed ::before{
    content: '';
    text-align: right;
    display: flex;
    align-items: center;
    font-size: large;
    position: absolute;
    left: 0;
    right: -40px;
    top: 0;
    bottom:0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 20px;
    background-color: rgba(400, 400, 400, 1);
    transform: translateX(-310px);
    transition: 0.4s;
    z-index: -1;
    cursor: pointer;
}
.okayed:hover ::before{
    /* z-index: 0; */
    transform: translateX(0px);
    /* display: none; */
}
.okayed{
    /* display: none; */
    z-index: 1;
}

#navlist{
    transition: 1s;
}

#poll-socials{
    transition: 1s;
}

.each_section{
    transform: translateY(150px);
    opacity: 0;
    transition: 1s;
}
.active{
    transform: translateY(0);
    opacity: 10;
}

.contact{
    transform: translateX(200px);
    opacity: 0;
    transition: 1s;
}
.present{
    opacity: 1;
    transform: translateX(0px);
}

.bar_1, .bar_2{
    transition: 1s;
}
.bar_change .bar_1 {
    transition: 1s;
    margin: auto;
    width: 70%;
    transform: rotate(315deg);
    left:7px;
    top:7px;
}
.bar_change .bar_2{
    transition: 1s;
    width: 70%;
    transform: rotate(225deg);
    bottom:7px;
    right:4px;
    
}