@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
}
.load_one{
    animation: load_one 1.5s;
    transform: rotate(45deg);
}
.load_two{
    animation: load_two 1s;
    transform: rotate(135deg);
    border:solid black 4px;
    z-index: 999;
}

@keyframes load_one {
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(45deg);
        
    }
}
@keyframes load_two {
    0%{
        transform: rotate(0deg);
    }
    100%{
        /* transform: rotate(45deg); */
    }
}


.des{
    left: -500px;
    top: -900px;
    animation: des 1s;
    background: linear-gradient(to bottom right, rgb(21, 21, 120), #091b35,#27171a,rgb(33, 33, 82));
}
@keyframes des {
    0%{
        left: 1000px;
        top: 1800px;
    }
}


.logo{
    /* border:solid 2px white; */
    /* font-family: 'Work Sans', sans-serif; */
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Bruno Ace', cursive;
    font-size: large;
}

.menu{
    /* display: none; */
    /* opacity: 0; */
    visibility: hidden;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: -1;
}

.responsive_menu{
    background-color: #0f172a;
    visibility: visible;
    animation: menu_slide 1s;
    transform: translateY(0);
}
@keyframes menu_slide {
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0);
    }
}
.port_img{
    background: linear-gradient(to bottom right,rgb(21, 21, 120), #09351a,#17271d,rgb(82, 65, 33));
    animation: dance 3s ease-in-out infinite;
    overflow: hidden;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.loader{
    background: linear-gradient(to bottom right,#0f172a,#05082e,#020617);
    animation: loader 5s ease-in-out infinite;
    overflow: hidden;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

@keyframes loader {
    0%{
        background-size: 100% 300%;
    }
    
    50%{
        background-size: 200% 150%;
    }
    100%{
        background-size: 100% 300%;
    }
}
.map{
    animation: map_pin 10s infinite;
}

@keyframes map_pin {
    0%{
        transform: translate(0px , 0px);
    }
    
    50%{
        transform: translate(-5px, 10px);
    }
}
@keyframes dance {
    0%{
        transform: translate(0px , 0px);
        background-size: 100% 300%;
    }
    
    50%{
        transform: translate(-5px, 10px);
        background-size: 200% 150%;
    }
    100%{
        background-size: 100% 300%;
    }
}
.link{
    display: none;
    
}
.sec:hover > .link{
    transition: 2s;
    
    display: block;
    
    animation: visit 0.5s;
}
@keyframes visit {
    0%{
        transform: translate(150px);
    }
    100%{
        transform: translate(0 );
    }
    
}

.okay:hover{
    cursor: pointer;
    transition: 0.5s;
}
.okay ::after{
    content: '';
    text-align: right;
    display: flex;
    align-items: center;
    font-size: large;
    position: absolute;
    color: white;
    left: 0;
    right: -40px;
    top: 0;
    bottom:0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 20px;
    background-color: white;
    transform: translateX(-280px);
    transition: 0.4s;
    z-index: -1;
    cursor: pointer;
}

.okay:hover ::after{
    /* z-index: 0; */
    transform: translateX(0px);
    /* display: none; */
}
.okay{
    z-index: 1;
}

.btn:hover{
    cursor: pointer;
    transition: 0.5s;
}

.nav-opt{
    position: relative;
    overflow: hidden;
}
.nav-opt::after{
    content: '';
    border-bottom: solid #166534 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-150px);
    transition: 0.5s;
}
.nav-opt:hover::after{
    transform: translateX(0px);
}


.okayed:hover{
    cursor: pointer;
    transition: 0.5s;
}
.okayed ::before{
    content: '';
    text-align: right;
    display: flex;
    align-items: center;
    font-size: large;
    position: absolute;
    left: 0;
    right: -40px;
    top: 0;
    bottom:0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 20px;
    background-color: rgba(400, 400, 400, 1);
    transform: translateX(-310px);
    transition: 0.4s;
    z-index: -1;
    cursor: pointer;
}
.okayed:hover ::before{
    /* z-index: 0; */
    transform: translateX(0px);
    /* display: none; */
}
.okayed{
    /* display: none; */
    z-index: 1;
}

#navlist{
    transition: 1s;
}

#poll-socials{
    transition: 1s;
}

.each_section{
    transform: translateY(150px);
    opacity: 0;
    transition: 1s;
}
.active{
    transform: translateY(0);
    opacity: 10;
}

.contact{
    transform: translateX(200px);
    opacity: 0;
    transition: 1s;
}
.present{
    opacity: 1;
    transform: translateX(0px);
}

.admin{
    transform: translateX(200px);
    opacity: 0;
    transition: 1s;
}
.present_admin{
    opacity: 1;
    transform: translateX(0px);
}
.bar_1, .bar_2{
    transition: 0.4s;
}
.bar_1{
    top: 0;
}
.bar_2{
    bottom:0;
}
.bar_change .bar_1 {
    transition: 0.4s;
    margin: auto;
    width: 100%;
    transform: rotate(45deg);
    position: absolute;
    top:auto;
}
.bar_change .bar_2{
    transition: 0.4s;
    width: 100%;
    transform: rotate(135deg);
    position: absolute;
    bottom:auto;
    right:auto;
    
}
#my-mouse{
    width: 10px;
    height: 10px;
    opacity: 0;
    border: solid 2px white;
}
#owner:hover > #my-mouse{
    width: 100px;
    height: 100px;
   border: dotted 4px;
   animation: mouseEvent 5s infinite;
}
@keyframes mouseEvent {
    0%{
        transform: rotate(360deg);
    }
}
#owner > h1{
    pointer-events: none;
}
.__pointerX{
    pointer-events: none;
}

._language{
    background: linear-gradient(to bottom right, #09351a,#17271d,rgb(82, 65, 33));
}